<%= form_for(@import) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :limit %><br>
    <%= f.number_field :limit %>
  </div>
  <div class="field">
    <%= f.label :until %><br>
    <%= f.text_field :until %>
  </div>
  <div class="field">
    <%= f.label :paging_token %><br>
    <%= f.text_field :paging_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
