<%= form_for @song, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :youtube_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :youtube_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mp3_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mp3_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :picture_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :picture_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                songs_path, :class => 'btn' %>
  </div>
<% end %>
