<div class="row clearfix">
	
	<!-- COL 1 -->
	<div class="column col-md-6">

		<div class="page-header">
			<h1>Posts</h1>
		</div>

		<div>
			<%= link_to("Add Playlist", new_playlist_path) %>
			<%= form_for :playlist do %>
				<%= collection_select(:playlist, :id, Playlist.all, :id, :name, {}, {:onchange => "this.form.submit()"}) %>
			<% end %>
		</div>

		<div>
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
		</div>

		<table class="table-hover table-condensed">
			<thead>
				<tr class="border-bottom">
					<th>Image</th>
					<th>Descripton</th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
				<tr class="border-top">
					<td class="medium"> <%= link_to(image_tag(post.picture_url), post.link_url, :target => 'blank') %> </td>
					<td class="wide"> <%= link_to(post.artist+' - '+post.title, post.link_url, :target => 'blank', :class => 'title') %>
					<br/>
					<%= post.description %>
					<br/>
					<ul class="list-inline">
						<li>
							<%= link_to(post.link_url, :target => 'blank') do %>
							<i class="fa fa-youtube-play fa-lg"></i>
							<% end %>
						</li>
						<li>
							<%= link_to(post.link_url, :target => 'blank') do %>
							<i class="fa fa-info-circle fa-lg"></i>
							<% end %>
						</li>
						<li>
							<%= link_to(add_to_playlist_post_path(post)) do %>
							<i class="fa fa-plus-circle fa-lg"></i>
							<% end %>
						</li>
						<li>
							<%= link_to(edit_post_path(post)) do %>
							<i class="fa fa-search fa-lg"></i>
							<% end %>
						</li>
						<li>
							<%= link_to(add_to_playlist_post_path(post)) do %>
							<i class="fa fa-minus-circle fa-lg"></i>
							<% end %>
						</li>
					</ul></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<div>
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
		</div>

	</div>
	
	<!-- COL 2 -->
	<div class="column col-md-6">

		<div class="page-header">
			<h1>Playlist: <small>playlist 1</small></h1>
		</div>

		<table class="table-hover table-condensed">
			<thead>
				<tr class="border-bottom">
					<th>Image</th>
					<th>Descripton</th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
				<tr class="border-top">
					<td class="medium"> <%= link_to(image_tag(post.picture_url), post.link_url, :target => 'blank') %> </td>
					<td class="wide"> <%= link_to(post.artist+' - '+post.title, post.link_url, :target => 'blank', :class => 'title') %>
					<br/>
					<%= post.description %>
					<br/>
					<ul class="list-inline">
						<li>
							<%= link_to("watch", post.link_url, :target => 'blank') %>
						</li>
						<li>
							<%= link_to("info", post.link_url, :target => 'blank') %>
						</li>
						<li>
							<%= link_to("add", add_to_playlist_post_path(post), :class => 'btn btn-mini') %>
						</li>
						<li>
							<%= link_to("edit", edit_post_path(post), :class => 'btn btn-mini') %>
						</li>
						<li>
							<%= link_to("remove", add_to_playlist_post_path(post), :class => 'btn btn-mini') %>
						</li>
					</ul></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>

