<div class="page-header">
  <h1><%= @playlist.name %></h1>
</div>

<table>
	<thead>
		<tr>
			<th>Artist</th>
			<th>Title</th>
			<th>Duration</th>
			<th>Listen</th>
			<th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |i| %>
		<tr>
			<td><%= i.artist %></td>
			<td><%= i.title %></td>
			<td>xx:yy</td>
			<td><%= link_to("youtube", i.link_url, :target => "blank")%></td>
			<td><%= link_to t('.remove', :default => t("helpers.links.remove")),
          			remove_from_playlist_post_path(i), :class => 'btn btn-mini' %>
          	</td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              playlists_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_playlist_path(@playlist), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              playlist_path(@playlist),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
